.container {
  /* border: 1px solid wheat; */
  background: linear-gradient(0deg, #1d1d1d, #1d1d1d),
    linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  color: var(--color-white);
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imageContainer {
  /* border: 1px solid wheat; */
  width: 100%;
  justify-content: center;
  padding: 1em;
  margin-top: 2.5em;
}
