.container {
  /* height: 100vh; */
  background: linear-gradient(0deg, #1d1d1d, #1d1d1d),
    linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));

  color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.introContainer {
  /* padding-top: 3em; */

  margin-top: 8em;
  height: fit-content;
  /* border: 1px solid white; */
  display: flex;
  justify-content: center;
  width: 80%;
}

.introBox {
  width: 60%;
  justify-self: flex-end;
  padding-left: 4em;
  padding: 2em;
}
.introDescrBox {
  text-align: left;
  left: 0;
  flex-wrap: wrap;
  padding-left: 4em;
  padding: 2em;
}
.wrapper {
  padding: 3em;

  /* border: 1px solid wheat; */
}
.cardWrapper {
  padding: 3em;
  display: flex;
}
.cardGiftIcon {
  /* border: 1px solid wheat; */
  background-color: var(--color-white);
  border-radius: 50px;
  width: 6.25em;
  height: 6.25em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  border: 1px solid var(--color-white);
  border-radius: 1em;
  height: 23.75em;
  width: 22.5em;
  padding: 1.5em;
  margin: 1em;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
