body {
  --color-primary: #e3b748;
  --color-black: #111111;
  --color-white: #ffffff;

  margin: 0;
  font-family: -"Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body html {
  width: 100vw;
}
