.container {
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.button {
  background-color: var(--color-white);
  height: 4em;
  width: 4em;
  margin: 1em;
  border-radius: 5.663125em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* .button :hover {
  background-color: var(--color-primary);
  height: 4em;
  width: 4em;
  margin: 1em;
  border-radius: 5.663125em;
} */

.headerWrapper {
  padding-top: 4em;
  display: flex;
  justify-content: space-between;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.swiperContainer {
  padding-top: 4em;
  /* background-color: var(--color-white); */
  height: 25em;
}

.cardGiftIcon {
  /* border: 1px solid wheat; */
  background-color: var(--color-white);
  border-radius: 50px;
  width: 6.25em;
  height: 6.25em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  border: 1px solid var(--color-white);
  border-radius: 1em;
  height: 17.5em;
  width: 15em;
  padding: 1em;
  /* margin: 1em; */
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
